<footer>
    <div class="copyright-link">
        <a target="_blank" href="https://www.ideracorp.com/legal/APILayer">Imprint/Legal</a> | <a target="_blank" href="https://www.ideracorp.com/Legal/APILayer/PrivacyStatement">Privacy</a> | <a target="_blank" href="https://www.ideracorp.com/Legal/Terms-of-Use">Terms</a> | <a target="_blank" href="https://www.ideracorp.com/Legal/APILayer/PrivacyStatement">Cookie Preference</a> | <a href="https://fixer.io/sitemap.php">Sitemap</a>
    </div>
    <small id="contacts"> © 2023 REDATA, Contact info: support@redata.dev</small>
</footer>